<div>
    Note Component
  <div v-if="data" class="content" style="color: purple">
    <div>{{data.name}}</div>
    <div>{{data.notename}}</div>
    <div>{{data.noteid}}</div>
    <div>{{data.notecontent}}</div>
    <div>{{data.content}}</div>
    <div>{{data.noteColor}}</div>
    <div>{{data.noteContent}}</div>
    <div>{{data.noteId}}</div>
    <div>{{data.noteName}}</div>
    <div>{{name}}</div>
    <div>{{content}}</div>
    noteColor : "" noteContent : "testtest" noteId : 1 noteName : "Test"
  </div>
</div>
